<form action="/project/create" method="POST">
    <h2>New project for User <%=user.name%></h2>

    <input type="hidden" name="owner" value="<%=user.id%>" />
    <input type="text" placeholder="name" name="name"><br/>
    <input type="text" placeholder="description" name="description"><br/>
    <input type="text" placeholder="scope" name="scope">
    <input type="submit" value="Add project" />
    <input type="hidden" value="<%=_csrf%>" name="_csrf">

</form>