<div id="wrapper">
    <form action="/comment/update/<%=comment.id%>" method="POST">
        <h2>Modificar comment</h2>
        <input value="<%=comment.text%>" type="text" name="text" autofocus><br/>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Edit Comment">
        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
    </form>
</div>