
	<div id="wrapper">
	
		<div class="container--box-login">
			<h1 class="title--page-login">Iniciar Sesión</h1>
			<form>
				<div class="item-form">
					<input id="email" name="email" type="email" placeholder="correo@correo.cl" required>
					<label for="email">Email</label>
				</div>
				<div class="item-form">
					<input id="password" name="password" type="password" placeholder="••••••••" required>
					<label for="password">Contraseña</label>
				</div>
				<div class="item-form">
					<input type="submit" class="submit fl" value="Iniciar Sesión">
					<input type="submit" class="reset-pass fr" value="Recuperar contraseña">
				</div>
			</form>
		</div>

        
        <div id="wrapper">

            <div class="row">
                <div class="col"></div>
                    <div class="col-6">
                        <div class="jumbotron"> 
                            <form action="/session/create" method="POST" id="sign-up-form" class="form-signin">
                                <h2 class="form-signin-heading">Iniciar sesión</h2>
                                
                                <% if (flash && flash.err) { %>
                                    <ul class="alert alert-danger">
                                       
                                        <% Object.keys(flash.err).forEach(function(key) {%>
                                        <li><%- JSON.stringify(flash.err[key]) %></li>
                                        <% }); %>
                                    </ul>
                                <% } %>
    
                                
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Email" name="email" id="email"></br>
                                </div>
                                    <div class="control-group">
                                            <input type="password" class="form-control" placeholder="password" name="passw" id="passw"></br>
                                </div>
                                <!-- <div class="control-group">        
                                    <input type="password" class="form-control" placeholder="confirm pswd" name="confirmation"></br>
                                    <br/>
                                </div> -->
                               <div class="row">
                                     <div class="col">
                                            <input type="submit" class="btn btn-lg btn-dark btn-block" value="INICIAR SESIÓN">
                                            <input type="hidden" name="_csrf" value="<%=_csrf%>" />
                                        </form>
                                    </div>
                                <div class="col">
                                    <form action="/user/forgotpassword" method="POST" id="sign-up-form" class="form-signin">
                                        
                                        <input type="submit" class="btn btn-lg btn-outline-secondary" value="Recuperar contraseña">
                                        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
    
    
    </div>





	</div>




