<div id="wrapper">
        <form action="/task/create" method="POST" id="task-form" class="form-new-obj">
        <h2 class="form-signin-heading">Create task</h2>
    
        <% if (flash && flash.err) { %>
            <ul class="alert alert-success">
               
                <% Object.keys(flash.err).forEach(function(error) {%>
                <li><%- JSON.stringify(flash.err[error]) %></li>
                <% }); %>
            </ul>
    
        <% } %>
        <input type="hidden" name="belongs_to_obj" value="<%=objective.id%>" />
        <input type="hidden" name="belongs_to_project" value="<%=objective.belongs_to_project%>" />
        
        <div class="control-group">
            <input type="text" class="form-control" placeholder="Description" name="text" autofocus required></br>
        </div>
        <!-- 
        <div class="control-group">
            <input type="number" class="form-control" placeholder="%advance" name="status"></br>
        </div>
     -->
        <br/>
        
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create task">
        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
        </form>
    </div>

 <script>
            $("task-form").validate();
 </script>
    
