
<p>Dear <%=name%>,</p>
<br/>

<p>Thank you for signing up at Project Doctor.</p>
<p></p>
<p>For help please email me:</p> <a href="mailto:cristian.menajovsky@gmail.com">cristian.menajovsky@gmail.com</a>