<div id="wrapper">
    <form action="/user/update/<%=user.id%>" method="POST" id="sign-up-form">
        <h2>Modificar usuario</h2>
        <input value="<%=user.name%>" type="text" name="name"><br/>
        <input value="<%=user.email%>" type="text" name="email"><br/>
        <div class="control-group">
            <input type="password" class="form-control" placeholder="password" name="passw" id="passw"></br>
        </div>
        <div class="control-group">        
            <input type="password" class="form-control" placeholder="confirm pswd" name="confirmation" id="confirmation"></br>
            <br/>
        </div>
        <% if (session.authenticated && session.User.admin) {%>
            <% if (user.admin) {%>
                <input type="hidden" name="admin" value="unchecked">
                <label class="checkbox"><input type="checkbox" name="admin" checked>Admin</label>
            <%} else {%>
                <input type="hidden" name="admin" value="unchecked">
                <label class="checkbox"><input type="checkbox" name="admin">Admin</label>
        <%}%>
        <%}%>

        <input  type="submit" value="Editar Usuario" class="btn btn-lg btn-primary btn-block"/>
        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
    </form>
</div>

<script>
    $("sign-up-form").validate();
</script>