hola loco hasta acá todo bien!
<form action="/user/update/<%=user.id%>" method="POST">
    <h2>Modificar usuario</h2>
    <input value="<%=user.name%>" type="text" name="name"><br/>
    <input value="<%=user.email%>" type="text" name="email"><br/>
    <input value="<%=user.state%>" type="text" name="state"><br/>
    <input  type="submit" value="Editar Usuario"/>
</form>