<div id="wrapper">
    <form action="/user/forgotpasswordmail" method="POST">
        <h2>Se enviar치n datos de recuperaci칩n de contrase침a al siguiente mail</h2>
       
        <input placeholder="sign-up mail" type="text" name="email"><br/>
       
        <input  type="submit" value="Enviar mail de recuperaci칩n" class="btn btn-lg btn-primary btn-block"/>
        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
    </form>
</div>