<div id="wrapper">
	
    <div class="container--box-login">
        <h1 class="title--page-login"><%=__('retrieve_mail_sent.title')%></h1> <!-- Recuperar contraseña -->
        <p class="txt--page-login"><%=__('retrieve_mail_sent.mail_sent_to')%> <%=user.email%></p> <!-- Email enviado a oscar.madrid.v@gmail.com -->
        <a href="/" class="btn--return"><%=__('retrieve_mail_sent.back_btn')%></a> <!-- Volver a la página de inicio -->
    </div>
    
</div>
