
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>



<div class="container">
    <form action="/user/create" method="POST" id="sign-up-form" class="form-signin">
        <h2 class="form-signin-heading">Create user</h2>

        <% if (flash && flash.err) { %>
            <ul class="alert alert-success">
                <li>Existe flash</li>
                <% Object.keys(flash.err).forEach(function(error) {%>
                <li><%- JSON.stringify(flash.err[error]) %></li>
                <% }); %>
            </ul>

        <% } %>
        <div class="control-group">
             <input type="text" class="form-control" placeholder="Name" name="name" id="field"></br>
        </div>
        <div class="control-group">
            <input type="text" class="form-control" placeholder="Email" name="email"></br>
        </div>
        <div class="control-group">
            <input type="password" class="form-control" placeholder="password" name="password"></br>
        </div>
        <div class="control-group">        
            <input type="password" class="form-control" placeholder="confirm pswd" name="confirmation"></br>
            <br/>
        </div>
   
        <div class="g-recaptcha" id="captcha_box" data-sitekey="6LeUElIUAAAAAKQEyys7YjRTb7DUSXGA3AUA27PJ"></div>
        
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create User" id="submit" style="display:block">
        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
        
    </form>
</div>

<script>
    $("sign-up-form").validate();
</script>