body {
    padding-top: 70px;
    padding-bottom: 40px;
}

.jumbotron {
    text-align: center;
}

.jumbotron h2 {
    font-size: 1.5em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: gray;
}

.container .gray {
    color: gray;
}

.container
    .footer {
        width: 25%;
    }
.bg-inverse {
    background-color: #292b2c;
}

.navbar-brand:hover, .navbar-inverse .navbar-toggler:focus, .navbar-inverse .navbar-toggler:hover {
    color: #fff;
} 

.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    line-height: inherit;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.9);
}
.table tbody > tr > td.vert-aligned {
    vertical-align: middle;
}
.table-vcenter td {
    vertical-align: middle!important;
 }
 
 input, textarea, .uneditable-input {
    width: 100%;
}
.table-borderless td,
.table-borderless th {
    border: 0;
}

/* table {
    table-layout: fixed;
}
 */
/*.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 80%;
}
*/
.progress {height: 60px;}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: right;
}