/*
body {
    padding-top: 70px;
    padding-bottom: 40px;
}

.jumbotron {
    text-align: center;
    padding-right: 100px;
}

.jumbotron h2 {
    font-size: 1.5em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: gray;
}

.container .gray {
    color: gray;
}

.container
    .footer {
        width: 25%;
    }
.bg-inverse {
    background-color: #292b2c;
}

.navbar-brand:hover, .navbar-inverse .navbar-toggler:focus, .navbar-inverse .navbar-toggler:hover {
    color: #fff;
} 

.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    line-height: inherit;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.9);
}
.table tbody > tr > td.vert-aligned {
    vertical-align: middle;
}
.table-vcenter td {
    vertical-align: middle!important;
 }
 
 input, textarea, .uneditable-input {
    width: 100%;
}
.table-borderless td,
.table-borderless th {
    border: 0;
}

/* table {
    table-layout: fixed;
}
 */
/*.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 80%;
}
*/
.progress {height: 60px;}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: right;
}
@media only screen and (max-width: 800px) {
/* Force table to not be like tables anymore */
#no-more-tables table, 
#no-more-tables thead, 
#no-more-tables tbody, 
#no-more-tables th, 
#no-more-tables td, 
#no-more-tables tr { 
    display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#no-more-tables tr { border: 1px solid #ccc; }

#no-more-tables td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align:left;
}

#no-more-tables td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
}


/*
Label the data
*/
#no-more-tables td:before { content: attr(data-title); }
}

@media (max-width: 768px) {
    .btn-responsive {
      padding:2px 4px;
      /*font-size:80%;*/
       
      font-size: 3vw;
      line-height: 1;
      border-radius:3px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
      padding:4px 9px;
     /*  font-size:90%; */
     
     font-size: 2vw;
      line-height: 1.2;
    }
  }
  
  

  .btn-dark {
    color: #fff;
    background-color: #2c2c2c;
    border-color: #8a8a8a;
  }
  
  .btn-dark:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }