<div class="container">
    <div class="row">
        <div class="jumbotron">       
            
                <h1>Project Dr.</h1>
                <h2>Project management in healthcare... easy!</h2>
                <a href="user/new" class="btn btn-lg btn-success">Sign up!</a>
            </div>
        
    </div>
</div>