<div class="container">
    <div class="row">
        <div class="col-12">
        <div class="jumbotron">       
            
                <h1>Project Dr.</h1>
                <h2>Project management in healthcare... easy!</h2>
                Sign in above or... <a href="user/new" class="btn btn-sm btn-success">Sign up!</a>
               
            </div>
        </div>
    </div>

   
</div>