<div class="container">
    <div class="row">
        <div class="col-12">
        <div class="jumbotron">       
            
                <!-- <h1><%//= __('home.title') %></h1> -->
                <h2>GESTIÓN DE PROYECTOS EN SALUD <br><strong>¡FÁCIL!</strong></h2>
                <h2></h2>
                
                <a href="session/new" class="btn btn-large btn-dark">INICIAR SESIÓN</a>
                <p></p>
                
                <a href="user/new" class="text-muted"><u>REGISTRARSE</u></a>
               
            </div>
        </div>
    </div>

   
</div>