<div class="container">
    <form action="/objective/create" method="POST" id="new-obj-form" class="form-new-obj">
    <h2 class="form-signin-heading">Create objective</h2>

    <% if (flash && flash.err) { %>
        <ul class="alert alert-success">
            <li>Existe flash</li>
            <% Object.keys(flash.err).forEach(function(error) {%>
            <li><%- JSON.stringify(flash.err[error]) %></li>
            <% }); %>
        </ul>

    <% } %>
    <input type="hidden" name="belongs_to_project" value="<%=project.id%>" />
    <div class="control-group">
    <input type="text" class="form-control" placeholder="Description" name="description"></br>
    </div>
    <div class="control-group">
        <input type="text" class="form-control" placeholder="Formula" name="formula"></br>
    </div>
        <div class="control-group">
                <input type="text" class="form-control" placeholder="Goal" name="goal"></br>
    </div>

    <br/>
    </div>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Objective">
    <input type="hidden" name="_csrf" value="<%=_csrf%>" />
    </form>
</div>
