<div class="container">
    <form action="/stakeholder/create" method="POST" id="new-stakeholder-form">
        <h2 class="form-signin-heading">Create Stakeholder</h2>

        <% if (flash && flash.err) { %>
            <ul class="alert alert-success">
                <li>Existe flash</li>
                <% Object.keys(flash.err).forEach(function(error) {%>
                <li><%- JSON.stringify(flash.err[error]) %></li>
                <% }); %>
            </ul>

        <% } %>
        <div class="form-group">
            <input type="hidden" name="belongs_to_project" value="<%=project.id%>" />
        
        
            
            <input type="text" class="form-control" placeholder="Name" name="name" size="5" autofocus></br>
            <input type="text" class="form-control" placeholder="Communications plan" name="comm_plan" size="100"></br>
            <input type="textarea" class="form-control" placeholder="mails, separated by ;" name="mails" size="100"></br>
       
        
        <input type="hidden" name="assoc_task" value="<%=assoc_task%>" />
        <br/>
        
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create stakeholder">
        <input type="hidden" name="_csrf" value="<%=_csrf%>" />
    </div>
   </form>
</div>